$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
/*.header {
    border-bottom: 1px solid #e5e5e5;
}*/

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 850px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*alison's styles*/

.head, img.manage, .completed, .delete, .edit {
    display: inline-block;
    vertical-align: top;
}

h1 {
    text-align: center;
    text-shadow: #ffffff 1px -1px;
}

.completed, .delete, .edit {
    width: 120px;
    margin-top: 15px;
}

.head {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    color: #4E4C4C;;
}

img.manage {
    width: 35px;
}

.form {
    position: relative;
    background: #FFFEF7;
    border-radius: 10px;
    width: 90%;
   /* height: 700px;*/
    padding: 0px 40px;
    border: 1px solid rgb(218, 215, 215);
    box-shadow: 1px 1px 1px 0.5 grey;
/*    -webkit-transform: rotate(-5deg);
*/}

.text {

    h1 {
        font-family: 'Josefin Sans', sans-serif; 
        padding-top: 10px;
    }

    h4 {
        font-family: 'Volkhov', Helvetica, serif;
    }

    .todo {
        text-align: center;
    }

    .input-box {
        width: 50%;
    }

    .task {
        height: 200px;
        font-family: 'Volkhov', sans-serif; 
        font-size: 15px;

        span {
        font-family: 'Josefin Sans', sans-serif; 
        font-size: 20px;
        }
    }

    .check {
        padding-top: 20px;
        text-align: center;
    }

}

li {
    list-style-type: none;
    font-family: 'Volkhov', sans-serif; 
    font-size: 15px;
}

body { 
    background: url('../images/pink.png');}

.header {
    h1 {
        display: inline-block;
        margin-right: 12px;
        margin-left: 12px;

    }
    .purple {
        padding-bottom: 10px;
        width: 50px;
        display: inline-block;
}
}

.glyphicon {
    padding-right: 5px;
}

.complete {
    padding-bottom: 20px;
}